{%extends 'base.html'%}
{%block content%}
{% load bootstrap4 %} 
{% load staticfiles%}
<div class="container">
    <div class="row">
      
        <div style="margin-top:20px;font-family: 'Forum', cursive;" class='col-md-5'>
            <div style="width:100%;" class="w3-container card">
                <div class="w3-card" style="width:100%;">
                  <header class="w3-container w3-light-grey">
                  <span >{{ neighbourhood.hood_name }}</span>
                   <span style="float:right;margin-right:10px"><small >Call us: {{ neighbourhood.health_tell}}</small><br>
                  <small style="float:right;margin-right:10px">email:{{ neighbourhood.police_number}}</small>
                  
                  </header>
                  <br>
                  <div class="w3-container">
                    <img src="{{ neighbourhood.hood_image.url }}" alt="image" class="img-responsive" style="width:100%;height:250px;">
                    <p class='article-content'>Location: {{ neighbourhood.location }}</p>
                    <p>Description: {{ neighbourhood.description }}</p>
                  </div>
                 
                  <footer class="w3-container">
                  
                   
                  </footer>
                </div>
            </div>
        </div>
        <div style=" margin-top:20px; margin-right:2px; margin-left:2px;font-family: 'Forum', cursive;" class="col-md-3">
          <br>
            <p style="font-family: 'Forum', cursive;">click <a class="img-thumbnail" href="{%url 'new_business' pk=neighbourhood.id %}" style="text-decoration:none;color:green;">here</a> to share your love</p>
            {%if businesses%}
            {%for business in businesses%}
            <p style="font-family: 'Forum', cursive;"><b>name:</b> {{business.business_name}}</p>
            <p style="font-family: 'Forum', cursive;"><b>description:</b> {{business.description}}</p>
            <p style="font-family: 'Forum', cursive;"><b>contact:</b> {{business.email}}</p>
            <hr>
            {%endfor%}
            {%else%}
            <p style="font-family: 'Forum', cursive;"><b>no post at the moment</b></p>
            {%endif%}
        </div>
        <div style=" margin-top:20px; margin-right:2px; margin-left:2px;font-family: 'Forum', cursive;" class="col-md-3">
          <br>
            <p><a class="img-thumbnail" href="{%url 'new_post' pk=neighbourhood.id %}" style="text-decoration:none;color:pink;font-family: 'Forum', cursive;">
                    post
                </a> share your love with the world </p>

            {%if posts%}
            {%for post in posts%}
            <p style="font-family: 'Forum', cursive;"><strong>{{post.user.username}}: </strong> {{post.post}}</p>
            {%endfor%}
            {%else%}
            <p style="font-family: 'Forum', cursive;"><b>no post at the moment</b></p>
            {%endif%}
            <br>
            <hr>
        </div>
    </div>
</div>
{%endblock%}